:root{
    --clean-font: sans-serif, 'Open Sans', Poppins, Noto Sans, Work Sans, and Epilogue;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background-color: rgb(250, 250, 250);
}
.imageContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(images/citySkyline.avif);
    background-size: cover;
    background-position: center;
    flex: 3;
}

.odinSignUp{
    font-family: Norse;
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .6);
    padding: 0px;
    height: 10em;
}
img[alt="odin"]{
    height: 8em;
}
.imageContainer h1{
    color: white;
    font-size: 6em;
}
.credit{
    color: rgb(250, 250, 250, .6);
    position: absolute;
    bottom: 0;
    right: 5px; 
    font-family: Kiona;
    font-weight: bold;
}

.link{
    color: rgb(250, 250, 250, .6);
}

.text{
    font-family: var(--clean-font);
}
.description{

    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 80%;
}
input, label {
    display:block;
    width: clamp(175px, 22vw, 30rem );
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 5;
}
.content p, .container{
    padding-left: 45px;
}
.container{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, .4);
}
.form-row{
    display: flex;
    margin-bottom: 20px;
}
.input-container{
    margin-right: 150px;
    font-size: 11px;
    font-family: var(--clean-font);
    letter-spacing: 1.5px;
}

input:focus{
    border-color: lightblue;
}

input:invalid{
    border-color: lightcoral;
}

input{
    border: 2px solid rgba(230, 230, 230);
    outline: none;
    border-radius: 4px;
    height: 17px;
}

button{
    margin: 45px;
    padding: 15px 45px 15px 45px;
    color: white;
    background-color: #00BFA5;
    border: 0;
}

h1{
    font-size: 30px;
    font-weight: 400;
}
.log-in{
    text-decoration: none;
    color: #00BFA5;
}

